<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.assets.mapper.AssAssetsInfoOperateMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.assets.model.AssAssetsInfoOperate">
		<id column="id" property="id" />
		<result column="assets_id" property="assetsId" />
		<result column="operate_time" property="operateTime" />
		<result column="operate_date" property="operateDate" />
		<result column="operate_remark" property="operateRemark" />
		<result column="operate_by" property="operateBy" />
		<result column="operate_status" property="operateStatus" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, assets_id AS assetsId, operate_time AS operateTime, operate_date AS operateDate, operate_remark AS operateRemark, operate_by AS operateBy, operate_status AS operateStatus
    </sql>
</mapper>
