<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek.ebey.assets.mapper.ContractFileMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek.ebey.assets.model.ContractFile">
		<id column="id" property="id" />
		<result column="contract_id" property="contractId" />
		<result column="file_id" property="fileId" />
		<result column="sys_id" property="sysId" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_id AS contractId, file_id AS fileId, sys_id AS sysId, del_flag AS delFlag
    </sql>
</mapper>
